<!DOCTYPE html>
<!--[if IE 7]><html lang="ko" class="ie ie7"><![endif]-->
<!--[if IE 8]><html lang="ko" class="ie ie8"><![endif]-->
<!--[if IE 9]><html lang="ko" class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	
	<!-- <link rel="shortcut icon" type="image/x-icon" href="./inc/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="./inc/css/fontawesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="./inc/css/guide.css">
	<link rel="stylesheet" type="text/css" href="./inc/css/reset.css">

	<script type="text/javascript" src="./inc/js/jquery-3.4.1.min.js"></script> -->
	<!-- <script type="text/javascript" src="./inc/js/jquery.slimscroll.min.js"></script> -->
	<!-- <script type="text/javascript" src="./inc/js/guide.js"></script> -->
</head>
<body>
    <div class="guide_wrap">
        <!-- s : giude title -->
        <div class="guide_area acco">
            <strong class="tit">Title1 : font 36px</strong>
            <button type="button" class="btn_copy" title="코드복사">복사</button>

            <div class="guide_view">
                <div class="code">
                    <div class="titArea">
                        <h1 class="titH1">타이틀 h1</h1>
                    </div>
                </div>
            </div>
            
            <div class="code_view part">
                <div class="code body">
                    <xmp></xmp>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn_code btn_acco">코드 보기</button>
                </div>
            </div>
        </div>
        <!-- e : giude title -->
        
        <!-- s : giude title -->
        <div class="guide_area acco">
            <strong class="tit">Title2 : font 32px</strong>
            <button type="button" class="btn_copy" title="코드복사">복사</button>

            <div class="guide_view">
                <div class="code">
                    <div class="titArea">
                        <h1 class="titH2">타이틀 h2</h1>
                    </div>
                </div>
            </div>
            
            <div class="code_view part">
                <div class="code body">
                    <xmp></xmp>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn_code btn_acco">코드 보기</button>
                </div>
            </div>
        </div>
        <!-- e : giude title -->
        
        <!-- s : giude title -->
        <div class="guide_area acco">
            <strong class="tit">Title3 : font 24px</strong>
            <button type="button" class="btn_copy" title="코드복사">복사</button>

            <div class="guide_view">
                <div class="code">
                    <div class="titArea">
                        <h1 class="titH3">타이틀 h3</h1>
                    </div>
                </div>
            </div>
            
            <div class="code_view part">
                <div class="code body">
                    <xmp></xmp>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn_code btn_acco">코드 보기</button>
                </div>
            </div>
        </div>
        <!-- e : giude title -->
        
        <!-- s : giude title -->
        <div class="guide_area acco">
            <strong class="tit">Title4 : font 22px</strong>
            <button type="button" class="btn_copy" title="코드복사">복사</button>

            <div class="guide_view">
                <div class="code">
                    <div class="titArea">
                        <h1 class="titH4">타이틀 h4</h1>
                    </div>
                </div>
            </div>
            
            <div class="code_view part">
                <div class="code body">
                    <xmp></xmp>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn_code btn_acco">코드 보기</button>
                </div>
            </div>
        </div>
        <!-- e : giude title -->
        
        <!-- s : giude title -->
        <div class="guide_area acco">
            <strong class="tit">Title : font 20px</strong>
            <button type="button" class="btn_copy" title="코드복사">복사</button>

            <div class="guide_view">
                <div class="code">
                    <div class="titArea">
                        <h1 class="titH5">타이틀 h5</h1>
                    </div>
                </div>
            </div>
            
            <div class="code_view part">
                <div class="code body">
                    <xmp></xmp>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn_code btn_acco">코드 보기</button>
                </div>
            </div>
        </div>
        <!-- e : giude title -->
        
        <!-- s : giude title -->
        <div class="guide_area acco">
            <strong class="tit">Title : font 18px</strong>
            <button type="button" class="btn_copy" title="코드복사">복사</button>

            <div class="guide_view">
                <div class="code">
                    <div class="titArea">
                        <h1 class="titH6">타이틀 h6</h1>
                    </div>
                </div>
            </div>
            
            <div class="code_view part">
                <div class="code body">
                    <xmp></xmp>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn_code btn_acco">코드 보기</button>
                </div>
            </div>
        </div>
        <!-- e : giude title -->
    </div>
</body>
</html>