<div class="page_list">
    <div class="progress">
        <span class="graph"></span>
        <div class="count_wrap">
            <span class="count"><em>0</em>% / 100%</span>
        </div>
    </div>
    <table>
        <colgroup>
            <col width="50px">
            <col width="10%">
            <col width="12%">
            <col width="12%">
            <col width="14%">
            <col width="60px">
            <col width="72px">
            <col width="72px">
            <col width="142px">
            <col width="*">
            <col width="48px">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">2Depth</th>
                <th scope="col">3Depth</th>
                <th scope="col">4Depth</th>
                <th scope="col">5Depth</th>
                <th scope="col">CHECK</th>
                <th scope="col">완료날짜</th>
                <th scope="col">수정날짜</th>
                <th scope="col">화면ID</th>
                <th scope="col">비고</th>
                <th scope="col">LINK</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="no"></td>
                <td class="depth_1"></td>
                <td class="depth_2"></td>
                <td class="depth_3"></td>
                <td class="depth_4"></td>
                <td class="chk"></td>
                <td class="complete"></td>
                <td class="modify"></td>
                <td class="pageID"></td>
                <td class="comment"></td>
                <td class="link">
                    <a href="" title="새창" target="_blank">열기</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>