<div class="page_list">
    <div class="progress">
        <span class="graph"></span>
        <div class="count_wrap">
            <span class="count"><em>0</em>% / 100%</span>
        </div>
    </div>
    <div class="support">
        <div class="dscBox">
            화면ID <span class="txt_ing">초록 : 퍼블작업중</span> | 화면ID 검정 : 퍼블완료
        </div>
        <div class="custom_slt">
            <a href="#" class="sel" role="button" tabindex="0" title="리스트 선택">
                <span class="tit"></span>
            </a>
            <div class="sel_group" tabindex="0">
                <ul class="sel_list">
                    <li>
                        <span class="sub_sel">
                            <input type="checkbox" class="ipt" id="chk_1" name="chk" value="all" checked="">
                            <label for="chk_1" class="tit">전체</label>
                        </span>
                    </li>
                    <li>
                        <span class="sub_sel">
                            <input type="checkbox" class="ipt" id="chk_2" name="chk" value="p">
                            <label for="chk_2" class="tit">P</label>
                        </span>
                    </li>
                    <li>
                        <span class="sub_sel">
                            <input type="checkbox" class="ipt" id="chk_3" name="chk" value="d">
                            <label for="chk_3" class="tit">D</label>
                        </span>
                    </li>
                    <li>
                        <span class="sub_sel">
                            <input type="checkbox" class="ipt" id="chk_4" name="chk" value="u">
                            <label for="chk_4" class="tit">U</label>
                        </span>
                    </li>
                    <li>
                        <span class="sub_sel">
                            <input type="checkbox" class="ipt" id="chk_5" name="chk" value="finish">
                            <label for="chk_5" class="tit">완료</label>
                        </span>
                    </li>
                    <li>
                        <span class="sub_sel">
                            <input type="checkbox" class="ipt" id="chk_6" name="chk" value="ing">
                            <label for="chk_6" class="tit">미완료</label>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <table>
        <colgroup>
            <col width="50px">
            <col width="10%">
            <col width="12%">
            <col width="12%">
            <col width="14%">
            <col width="60px">
            <col width="72px">
            <col width="72px">
            <col width="142px">
            <col width="*">
            <col width="48px">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">2Depth</th>
                <th scope="col">3Depth</th>
                <th scope="col">4Depth</th>
                <th scope="col">5Depth</th>
                <th scope="col">CHECK</th>
                <th scope="col">완료날짜</th>
                <th scope="col">수정날짜</th>
                <th scope="col">화면ID</th>
                <th scope="col">비고</th>
                <th scope="col">LINK</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="no"></td>
                <td class="depth_1"></td>
                <td class="depth_2"></td>
                <td class="depth_3"></td>
                <td class="depth_4"></td>
                <td class="chk"></td>
                <td class="complete"></td>
                <td class="modify"></td>
                <td class="pageID"></td>
                <td class="comment"></td>
                <td class="link">
                    <a href="" title="새창" target="_blank">열기</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>