<div class="dashboard_area">
    <div class="section">
        <span class="tit">퍼블리싱 진척률</span>
        <div class="inner">
            <div class="total">
                <div class="graph_area">
                    <div class="graph">
                        <div class="state"></div>
                    </div>
                </div>
                <div class="summary">
                    <span>전체</span>
                    <strong class="total_count"><em>0</em>%</strong>
                    <span class="num">( <em></em> / <span class="total_num"></span> )</span>
                </div>
            </div>
            <div class="total_pc">
                <div class="graph_area">
                    <div class="graph">
                        <div class="state"></div>
                    </div>
                </div>
                <div class="summary">
                    <span>PC</span>
                    <strong class="count"><em>0</em>%</strong>
                    <span class="num">( <em></em> / <span class="total_num"></span> )</span>
                </div>
            </div>
            <div class="total_mo">
                <div class="graph_area">
                    <div class="graph">
                        <div class="state"></div>
                    </div>
                </div>
                <div class="summary">
                    <span>MO</span>
                    <strong class="count"><em>0</em>%</strong>
                    <span class="num">( <em></em> / <span class="total_num"></span> )</span>
                </div>
            </div>
        </div>
    </div>
</div>