<div class="desc_area">
    <div class="cvGuide_area not">
        <strong class="tit">Summary 페이지</strong>
        <button type="button" class="btn_copy" title="새창" onclick="comm.getParamSrch('summary')">이동</button>

        <div class="cvGuide_view">
            <div class="code">
                comm.getParamSrch("summary");
            </div>
        </div>
    </div>
    <div class="cvGuide_area not">
        <strong class="tit">Guide 페이지</strong>
        <button type="button" class="btn_copy" title="새창" onclick="comm.getParamSrch('guide')">이동</button>

        <div class="cvGuide_view">
            <div class="code">
                comm.getParamSrch("guide");
            </div>
        </div>
    </div>
    <div class="cvGuide_area not">
        <strong class="tit">Page List 페이지</strong>
        <button type="button" class="btn_copy" title="새창" onclick="comm.getParamSrch('pageList')">이동</button>

        <div class="cvGuide_view">
            <div class="code">
                comm.getParamSrch("pageList");
            </div>
        </div>
    </div>
    <div class="cvGuide_area">
        <strong class="tit">Summary 파라미터 값</strong>
        <button type="button" class="btn_copy" title="코드복사">복사</button>

        <div class="cvGuide_view">
            <div class="code">
                ?client=summary
            </div>
        </div>
    </div>
    <div class="cvGuide_area">
        <strong class="tit">Guide 파라미터 값</strong>
        <button type="button" class="btn_copy" title="코드복사">복사</button>

        <div class="cvGuide_view">
            <div class="code">
                ?client=guide
            </div>
        </div>
    </div>
    <div class="cvGuide_area">
        <strong class="tit">Page List 파라미터 값</strong>
        <button type="button" class="btn_copy" title="코드복사">복사</button>

        <div class="cvGuide_view">
            <div class="code">
                ?client=pageList
            </div>
        </div>
    </div>
</div>