@charset "utf-8";
@import url('fonts.css');

/* 디자인 가이드 적용 */
.likeSubpage {color:#666; font-size:16px; font-family:'OneShinhan', '원신한', 'Malgun Gothic', 'Dotum', '돋움', 'gulim', '굴림', Helvetica, sans-serif; font-weight:300;}
.likeSubpage .fixFont{font-family:'OneShinhan', '원신한', 'Malgun Gothic', 'Dotum', '돋움', 'gulim', '굴림', Helvetica, sans-serif;}
.likeSubpage.mobile {font-size: 1.6rem}
.likeSubpage.mobile .wgCode {width: 375px; line-height:1.5;}
.likeSubpage.mobile.view100 .wgCode {width: 100%;}
.likeSubpage.mobile .dataList, .likeSubpage.mobile .cardList, .likeSubpage.mobile .faqList, 
.likeSubpage.mobile .wgCode .addInfoList.notice {margin:0;}
.likeSubpage.mobile .detailList .btnArea {padding:0;}
.likeSubpage.mobile .bottomTotal .inner {position:static;}
.likeSubpage.mobile .holdingSum {margin:0;}

/*================================================ Common ================================================*/
body {background:#e9e9e9 !important; font-size:13px; font-family:'Roboto Light', 'NotoSans Light', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; color:#333; letter-spacing:-0.003em; word-break:keep-all; word-wrap:break-word;}
.bold, .wgGnb li, .wgLnb .nav h2, .wgLnb .nav > ul > li > a, .wgLnb .depth > li.on > a, .wgContent > .wgTop > h3, .wg [class^='wgTit'], 
.wg .section .wgBtn, .wg .wgLnb .nav .selectLnb select, .wgTbl thead th, .wgTbl td .menuTitle, .wgTbl td .menuTitle.hover, 
.wgTbl.mobile .d1, .wg.single .wgSch .wgBtn, .wg ul.desc > li:before, .wgAccoWrap .wgAcco .wgAccoHead strong {font-family:'Roboto Regular', 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; font-weight:normal !important;}
.normal, .wgCopyWrap .wgCopy .inner .wgTit, .wgBadge {font-family:'Roboto Light', 'NotoSans Light', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; font-weight:normal !important;}
.bold, [class^=wgTit] {color:#1d1d1d;}
.wgGnb a {font-family:'Roboto Regular', 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;}
.wgLnb a {font-family:'Roboto Light', 'NotoSans Light', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;}
.wg:not(.speed0) header, .wg:not(.speed0) header .logo, .wg:not(.speed0) .wgLnb, .wg:not(.speed0) .btnLnb, .wg:not(.speed0) .wgContent {transition:left 0.3s ease-in-out;}

body.printMode header {display: none}
body.printMode .wgLnb {display: none}
body.printMode .wgContent {left: 0 !important; width:1000px !important; padding-top:30px !important;}

strong {font-weight:normal;}

.wg select {appearance:none;}

.wgTbl tr.delPage td:not(.d1):not(.d2) {text-decoration:line-through; color: #cecece;}
.wgTbl .delPage .ok.finish,
.wgTbl .delPage .comment p {color: #cecece !important;}

/*================================================ Layout ================================================*/
.wg {position:relative;}
.wg > header .logo {display:table; background-color:#fff; box-sizing:border-box;}
.wg > header .logo a {display:table-cell; vertical-align:top; text-align:left;}
.wg > header .logo a > img {max-width:100%; margin-top:20px;}
.wg header .util a {color:#fff;}


.wg > header {position:fixed; right:0; top:0; background-color:#fff; z-index:11;}
.wg > header h2 {display:none;}
.wgGnb {padding-left:70px; background-color:#222;}
.wgGnb {letter-spacing:-2em;}
.wgGnb li {display:inline-block; letter-spacing:0;}
.wgGnb li a {position:relative; display: block; padding:0 15px; color:#777; font-size:18px; box-sizing:border-box; transition:all 0.15s ease-in-out; line-height: 70px}
.wgGnb li a:after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; border-bottom: 2px solid #fff; transition: all 0.15s ease-out; transform: scale(0,1);}
.wgGnb li.on a, .wgGnb li a:hover, .wgGnb li a:focus {color:#fff;}
.wgGnb li.on a:after, .wgGnb li a:hover:after, .wgGnb li a:focus:after {transform: scale(1,1)}
.wg .btnLnb {position:fixed; top:0; width:70px; color:#fff; font-size:20px;}
.wg .btnLnb .fa-bars {margin-bottom:5px;}
.wg header .util {position:absolute; top:0; right:20px; color:#fff; font-size:20px;}
.wg header .util a[class*=btn] {position: relative; float: left; width: 40px;}
.wg header .util i[class*=fa] {position:absolute; top:50%; left:50%; margin-top:-9px; margin-left:-10px;}

.wgContainer {position:relative;}
.wgLnb {position:fixed; top:70px; width:240px; height:calc(100% - 70px); background:#fff; box-shadow:1px 0 20px rgba(0,0,0,0.1); /*overflow-x:hidden; overflow-y:auto;*/ z-index:10;}
.wgLnb .nav {}
.wgLnb h2 {display:block; padding:35px 20px 0 20px; color:#002976; font-size:17px; line-height:1;}
.wgLnb h2 .percent {float:right; margin-top:2px; font-size:13px; color:#d25d07; letter-spacing:-0.045em;}
.wgLnb h2 .percent .detail {margin-left:3px; font-size:11px; color:#777;}
.wgLnb ul li a {display:block; position:relative;}
.wgLnb ul li > a ~ ul {display:none;}
/* for 1depth */
.wgLnb .nav > ul {margin:15px 0 30px 10px;}
.wgLnb .nav > ul > li {margin:5px 0;}
.wgLnb .nav > ul > li > a {position:relative; padding:10px 15px; font-size:15px; color:#8a98ac; border-radius:50px 0 0 50px; transition:all 0.15s ease-out;}
.wgLnb .nav > ul > li.on > a, 
.wgLnb .nav > ul > li > a:hover, 
.wgLnb .nav > ul > li > a:focus {color:#fff;}
.wgLnb .nav > ul > li > a > .fas {position:absolute; top:14px; right:25px; font-size:11px;}
.wgLnb .nav > ul > li > a > .fa-external-link-alt {right:24px; font-size:12px;}
.wgLnb .nav > ul > li:not(.on) .fa-minus {display: none}
.wgLnb .nav > ul > li.on .fa-plus {display: none}
/* for ohter detph */
.wgLnb .depth {margin:10px 25px 10px 15px;}
.wgLnb .depth > li > a {padding:5px 0; min-height:29px; color:#8a98ac; font-size:13px; line-height:1.5;}
.wgLnb .depth > li.on > a {color:#4c7cf3;}
.wgLnb .depth > li > a:hover, 
.wgLnb .depth > li > a:focus {color:#4c7cf3; text-decoration:underline;}
.wgLnb .selectLnb {display:none;}
/* for desc */
.wgLnb .nav ul > li > a .progNum {position:absolute; top:8px; right:0; font-size:11px; letter-spacing:-0.025em;}
.wgLnb .pageTip {display:inline-block; position:relative; margin-left:15px; opacity:0; transition:all 0.15s ease-in-out;}
.wgLnb .pageTip > strong {position:absolute; top:-16px; padding:2px 10px; background-color:#fff; font-size:12px; color:#fff; text-decoration:none; background-color:#333; border-radius:3px; z-index:1;}
.wgLnb .pageTip:before {content:''; position:absolute; width:6px; height:6px; left:-3px; top:-7px; transform:rotate(45deg); background-color:#333;}
.wgLnb .on .pageTip > strong, 
.wgLnb .on .pageTip:before {background-color:#4c7cf3; white-space: nowrap;}
.wgLnb a:hover .pageTip, 
.wgLnb a:focus .pageTip {margin-left:10px; opacity:1;}

.wgContent {position:relative; padding:100px 30px 50px 30px; box-sizing:border-box;}
.wgContent > .wgTop {display:block; margin-bottom:20px;}
.wgContent > .wgTop > h3 {display:inline-block; margin-right:5px; font-size:22px; color:#1d1d1d; line-height:1.3;}
.wgContent > .wgTop > span {font-size:15px;}
.wgContent > .wgTop .wgRow {margin-top: 20px; margin-bottom: -10px;}
.wgContent > .wgTop .wgBtn {background-color: #ddd}
.wgContent > .wgCont {/*max-width:1200px;*/}


/*================================================ content ================================================*/
.wg [class^='wgTit'] {margin-top:25px; margin-right:10px; margin-bottom:10px; color:#333; font-size:19px;}
.wg .status [class^='wgTit'] {display:inline-block; margin-top:0; margin-bottom:0;}
.wg .section .status [class^='wgTit'] {font-size:17px;}
.wg .wgCont > [class^='wgTit']:first-of-type {margin-top:0;}
.wg .wgTitSub {position:relative; margin-top:0; margin-bottom:10px; padding-left:13px; font-size:15px; line-height:1; color:#333;}
.wg .wgTitSub:not(.pl0):before {content:''; position:absolute; top:3px; left:0; width:7px; height:7px; border-radius:50%; background:#333;}
.wg .wgTitSub ~ .wgTitSub {margin-top:15px;}
 
.wg .section {position:relative; margin:0; padding:20px; background:#fff; border-top:1px solid #e0e0e0;}
.wg .section.round {border:none;}
.wg .section:after {content:''; display:block; clear:both;}
.wg .imgFrame {border:1px #aaa solid;}
.wg .imgFrame.inB {display: inline-block;}
.wg .imgFrame img {transform: scale(0.95);}
.wg .wgCont > .round + .round, .wg .wgCont > .round + .wgTbl, .wg .wgCont > .wgTbl + .round {margin-top:20px;}

.wg .status {display:inline-block; line-height:1; margin-bottom:10px; padding:7px 0; color:#777; vertical-align:top;}
.wg .status > span, .wg .status > strong {margin-right:10px; line-height:17px;}
.wg .status:not(.wgProg):not(.on) > span {display:none;}
.wg .status.wgProg .wgBadge {line-height:1.2;}
.wg .likeSubpage .section .status {margin-bottom:0;}
.wg .description, .wg .voiceBox {display:none; margin-top:7px; color:#000; font-size:13px; line-height:1.3; font-family:'Roboto Light', 'NotoSans Light', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif !important;}
.wg .descShow .description {display:block; color:#cc0000;}
.wg .voiceBox {margin-top:15px; font-style:italic; color:#999;}
.wg .voiceBox p {position:relative; min-height:18px; margin-top:3px; padding-left:22px;}
.wg .voiceBox i {position:absolute; top:1px; left:0; width:16px; text-align:center; color:#777;}
.wg .voiceBox i:before {font-size:13px;}
.wg .voiceBox i.fab {top:-2px;}
.wg .voiceBox i.fab:before {font-size:16px;}

.wgBtns {letter-spacing:-2em;}
.wgBtns:after {content:''; display:block; clear:both;}
.wgBtns .wgBtn {display:inline-block; min-width:30px; height:30px; font-size:12px; line-height:30px; letter-spacing:0; text-align:center; vertical-align:top; border-radius:30px; background-color:#eee; color:#777; transition:all 0.15s ease-in-out;}
.wgBtns .wgBtn + .wgBtn {margin-left:5px;} 
.section .wgBtns .wgBtn {opacity:0.4;}
.wg .wgCont > .wgRow .wgBtns .wgBtn {background-color:#ddd;}
.wgBtns .wgBtn:hover, .wgBtns .wgBtn.on {background-color:#333 !important; color:#fff; opacity: 1}
.wgBtns .wgBtn i.fas:before {font-size:14px;}
.wgBtns .wgBtn i.fas:not(:empty) {padding:8px 15px 0 15px;}
.wgBtns .wgBtn i.fas:not(:empty):before {margin-right:6px;}
.wgBtns .wgBtn i.fas.fa-volume-up {padding-top:8px;}
.wg .status ~ .wgBtns {display:inline-block;}
.wgProg ~ .wgBtns {float:right;}
.wg .wgRow > .wgBtns:only-child {margin-bottom:10px;}

.wgSelect {position:relative; display:inline-block; min-width:100px; background-color:#fff; border-radius:30px; vertical-align:top;}
.wgSelect select {position:relative; display:block; width:100%; height:30px; padding:1px 35px 0 15px; font-size:12px; line-height:30px; letter-spacing:0; color:#333; border:0; background:none; z-index:1;}
.wgSelect i {position:absolute; top:10px; right:13px; width:13px;}
.wgSelect + * {margin-left:10px;} 
* + .wgSelect {margin-left:15px;}
.wgSelect#cateSel {display:inline-block; opacity: 0}

.wg .wgCodeView {display:none; margin-top:20px; margin-bottom:15px; padding:10px; color:#fff; background-color:#333; box-sizing:border-box;}
.wg .wgCodeView.on {display:block;}
.wg .wgCodeView xmp, .wg .layoutCode {display:block; /*min-height:100px;*/ max-width:100%; max-height:150px; font-family:consolas, sans-serif; font-size:12px; line-height:1.5; overflow:auto; overflow-x:hidden; box-sizing:border-box;}
.wgDesc.bg xmp, xmp.wgDesc.bg {font-family:consolas, sans-serif; font-size:12px; line-height:1.5;}
.wg .wgCodeView xmp.copyCode {display: none}
.notReplace .wgCodeView xmp.copyCode {display:block;}
.wg .layoutWrap .layoutCode {max-height: 600px;}
.wg .section.round > .wgCodeView:only-child, .wg .section .wgCodeView.bgNone {display:block; margin:0; padding:0; color:#333; background:none;}
.wg .section .wgCodeView.bgNone xmp {display:inline-block; margin:0; padding:10px; color:#333; border:1px solid #ddd; background-color:#eee;}
.wg .section .wgCodeView.on {margin:0;}
.wg .wgCode {max-width:100%; margin-top:15px; margin-bottom:5px;}

.wgTbl {background-color:#fff; overflow:hidden !important;}
.wgTbl:not(.mobile) {box-shadow:2px 2px 4px 2px rgba(0,0,0,0.1)}
.wgTbl th, .wgTbl td {padding:10px; border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; font-size:12px; text-align:center;}
.wgTbl thead th {background-color:#555; padding-left:3px; padding-right:3px; color:#fff; font-size:13px; border-top:none; border-left:1px solid #999;}
.wgTbl th.first, .wgTbl td.no {border-left:none !important;}
.wgTbl .depth {text-align:left; color:#333;}
.wgTbl .depth.d1 {border-left:1px solid #dcdcdc; text-decoration:none;}
.wgTbl .depth.d2 {color:#777;}
.wgTbl .depth.d3 {color:#555;}
.wgTbl .depth.d4 {color:#555;}
.wgTbl.chkMode tbody tr:not(.chkPlz) td {color:#eee !important;}
.wgTbl.dateFilter tbody tr:not(.dateFilter) td {color:#eee !important;}
.wgTbl.notWork tbody tr.notWork {display: none;}
.wgTbl.partFilter tbody tr.not {display: none;}
.wgTbl.partFilter tbody tr:not(.partFilter) td {color:#eee !important;}
.wgTbl tr.set td {background-color:#f2f2f2;}
.wgTbl tr.cateBorder td {height:1px; padding:0; background-color:#999 !important; border:none;}
.wgTbl tr.cateBorder + tr td {border-top:none;}
.wgTbl tr:last-child.cateBorder {display:none;}
.wgTbl tr.red td, .wgTbl tr.red td a, .wgTbl .red {color:#ff0000 !important;}
.wgTbl td .menuTitle, .wgTbl td .menuTitle.hover {height:40px; font-size:13px;}
.wgTbl ul {font-size:12px;}
.wgTbl td.hover, .wgTbl th.hover {background-color:#e6f3ff;}

.wgTbl.mobile {display:none; margin-top:-10px; background:none;}
.wgTbl.mobile .d1 {position:relative; margin-top:10px; padding:13px 15px; background-color:#fff; color:#333; font-size:15px; cursor:pointer;}
.wgTbl.mobile .d1.on {background-color:#555; color:#fff;}
.wgTbl.mobile .d1 .fas {position:absolute; top:17px; right:16px; font-size:11px;}
.wgTbl.mobile .d1 .fa-minus, .wgTbl.mobile .d1.on .fa-plus {display: none}
.wgTbl.mobile .d1.on .fa-minus {display: block;}
.wgTbl.mobile .d2 {display:none; background-color:#fff;}
.wgTbl.mobile .d2 li > * {position:relative; display:block; padding:15px; border-bottom:1px solid #e0e0e0;}
.wgTbl.mobile .d2 strong {display:block; margin-top:3px; padding-right:50px; font-size:12px; color:#757575;}
.wgTbl.mobile .d2 strong.txt {min-height:15px; margin-top:0; padding-right:0; color:#333; line-height:1.3; text-shadow:none;}
.wgTbl.mobile .d2 strong.txt:empty:after {content:'바로가기';} 
.wgTbl.mobile .d2 .date {position:absolute; top:14px; right:15px; font-size:12px; color:#a5a5a5;}
.wgTbl.mobile .d2 .fas {position:absolute; bottom:15px; right:15px; font-size:10px; color:#757575;}
.wgTbl.mobile .d2 li > span > * {color:#ccc !important;}
.wgTbl tbody tr.noneImportant {display: none !important;}

.wgDesc {font-size:13px;}
.wgDesc.large {font-size:15px;}
.wgDesc.bg {padding:10px; color:#333; border:1px solid #ddd; background-color:#eee;}
ul.wgDesc > li {position:relative; padding-left:8px; line-height:1.3; margin-top:5px; color:#555; text-align:left;}
ul.wgDesc > li:first-child {margin-top:0;}
ul.wgDesc > li:before {content:''; position:absolute; top:7px; left:0; width:4px; height:1px; background-color:#777;}
ul.wgDesc > li > ul {margin-top:5px;}
ul.wgDesc > li > ul > li:before {top:6px; left:1px; width:3px; height:3px; border-radius:1px;}
ul.wgDesc[class*=div] {font-size:0;}
ul.wgDesc.div2 > li {display:inline-block; width:50%; margin-top:5px; font-size:13px; vertical-align:top;}

.wgRef:not(ul), ul.wgRef > li {position:relative; margin-top:5px;}
.wgRef:not(ul):before, ul.wgRef > li:before {content:'※';}

.wgDesc > li .wgCodeView, td .bold ~ .wgDesc, ul.wgDesc > li .wgDesc.bg {margin-top:5px !important;}
.wgTitSub ~ .wgTbl, ul.wgDesc + .wgDesc.bg, .wgDesc + .wgDesc, .wgCodeView + .wgDesc {margin-top:10px !important;}
td .bold ~ .wgBadges {margin-left:3px !important;}
.wgTitSub:not(.pl0) ~ ul.wgDesc {margin-left:13px !important;}

.wgBadges {display:inline-block;}
.wgBadge {display:inline-block; padding:2px 5px; font-size:12px; line-height:normal; border-radius:3px; background-color:#eee;}
.wgBadge.round {padding-left:10px; padding-right:10px; border-radius:22px;}
.wgBadge.com {background-color:#f4a221; color:#000;}
.wgBadge.plan {background-color:#a44ce8; color:#fff;}
.wgBadge.des {background-color:#f63b6f; color:#fff;}
.wgBadge.pub {background-color:#0094e5; color:#fff;}
.wgBadge.dev {background-color:#3453a0; color:#fff;}

/* 가이드 알럿 */
.wgAlert {position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; overflow: auto; background: rgba(0,0,0,0.4); z-index: 700; display:table; box-sizing: border-box; outline: rgba(0,0,0,0.5);}
.wgAlertContain {display: table-cell; height: 100%; margin: 0 auto; z-index: 10; box-sizing: border-box; vertical-align: middle;}
.wgAlertCont {position: relative; float: none !important; width:377px; padding: 40px 20px 40px; overflow: hidden; margin: 0 auto; background: #fff; box-sizing: border-box; text-align: left; z-index: 10; border-radius: 5px; box-shadow: 5px 5px 5px rgba(0,0,0,0.1);}
.wgAlertCont .msg {text-align: center; color:#666; font-weight: bold}

/* 아코디언 */
.wgAccoWrap .wgAcco {padding:0;}
.wgAccoWrap .wgAcco .wgAccoHead {position:relative; padding:13px 20px 20px 20px; cursor:pointer;}
.wgAccoWrap .wgAcco .wgAccoHead strong {display:inline-block; margin:7px 80px 0 0; font-size:15px; line-height:1.3; color:#333;}
.wgAccoWrap .wgAcco .wgAccoHead .date {color:#999; position:absolute; top:25px; right:50px;}
.wgAccoWrap .wgAcco .wgAccoHead .fas {position:absolute; top:25px; right:20px; font-size:16px; transition:transform 0.3s ease-in-out;}
.wgAccoWrap .wgAcco .wgAccoHead .wgBadge {margin:7px 5px 0 0; background-color:#555; color:#fff;}
.wgAccoWrap .wgAcco.on .wgAccoHead strong {}
.wgAccoWrap .wgAcco.on .wgAccoHead .fas {transform:rotate(180deg);}
.wgAccoWrap .wgAcco .wgAccoBody {position:relative; display:none; padding:20px 20px 30px 20px; border-top:1px dashed #eee; background-color:#f7fcff;}
.wgAccoWrap .wgAcco .wgAccoBody > * {position:relative; z-index:1;}
.wgAccoWrap .wgAcco .wgAccoBody .wgCodeView {margin-top:10px;}
.wgAccoWrap .wgAcco .wgAccoBody .wgDesc, .wgAccoWrap .wgAcco .wgAccoBody .wgDesc li {color:#999;}
.wgAccoWrap .wgAcco .wgAccoBody .wgDesc li:before {background-color:#999;}

/* 가이드 폴더구조 */
.wgTree.wrap {padding:20px; color:#1d1d1d;}
.wgTree li > strong {display:inline-block; padding-left:20px; height:22px; line-height:22px;}
.wgTree ul > li {background:url(../../img/ico_li_tree.png) 3px 0 no-repeat; padding-left:20px;}
.wgTree ul > li.last {background:url(../../img/ico_treelast.gif) -2px 0 no-repeat;}
.wgTree li .folder {background:url(../../img/ico_folder.png) 0 50% no-repeat; background-size:18px; }
.wgTree li.css strong:not(.folder) {background:url(../../img/ico_css.png) 0 50% no-repeat; background-size:20px;}
.wgTree li.js strong:not(.folder) {background:url(../../img/ico_js.png) 0 50% no-repeat; background-size:20px;}
.wgTree li.html {color:#535ba1;}
.wgTree li.img {color:#d0547d;}
.wgTree li.css {color:#1b75aa;}
.wgTree li.js {color:#9e7129;}

/* 페이지리스트 상단 */
.wgProgTip {position:relative; display:inline-block; margin-bottom:-3px;}
.wgProgTip .wgProgTxt {color:#777; font-size: 12px;}
.wgProgTip .wgProgTxt .fas {padding:0 0 3px 3px; font-size:16px; vertical-align:middle; color:#777;}
.wgProgTip .inner {position:absolute; left:50%; width:280px; margin-top:10px; margin-left:-140px; padding:15px; background-color:#fff; border-radius:5px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2); opacity:0; transition:all 0.15s ease-in-out; pointer-events:none; z-index:1;}
.wgProgTip .wgProgTxt:hover ~ .inner,
.wgProgTip .wgProgTxt:focus ~ .inner {margin-top:5px; opacity:1;}
.wgProgTip .inner:before {content:''; position:absolute; width:8px; height:8px; left:50%; top:-3px; margin-left:-4px; transform:rotate(45deg); background-color:#fff; z-index:3;}
.wgProgTip .inner .bold {margin:10px 0 5px 0;}
.wgProgTip .inner > *:first-child {margin-top:0;}
.wgProgTip + .wgProgTip {margin-left:3px;}

.wg .ok.finish {color:#000 !important; cursor: pointer;}
.wg .ok {color:#aaa !important; cursor: pointer;}
.wg .ok.ing {color:#40a000 !important; font-weight:bold;}
.wg .mod {color:#0063cc !important;}
.wg .chk {color:#333 !important; text-transform:uppercase !important;}
.wg .pageID {color:#555; white-space: nowrap;}
.wg .comment {color:#444; text-align:left;}
.wg .link {padding:0; color:#333;}
.wg .link a {padding:10px; font-size: 11px; color:#666;}
.wg .link a:hover {text-decoration:underline;}

.wg .off {display:none !important;}
.wg .hidden {visibility:hidden;}
.wg .visible {visibility:visible;}



/*================================================ search ================================================*/
.wg.single header {position:static; height:auto; min-height:70px; padding-top:70px; text-align:center;}
.wg.single header .logo {left:0; background:none;}
.wg.single.search header, .wg.single.auto header {background-color:#333;}
.wg.single header .btnLnb, .wg.single .wgLnb {display:none;}
.wg.single:not(.auto) .wgContent > .wgCont:not(.off) {/*min-height:1000px;*/}

.wg.single .wgSch {padding:30px 0 50px 0; letter-spacing:-2em;}
.wg.single .wgTit {margin:0 0 20px 0; letter-spacing:0;}
.wg.single .wgTit > * {display:inline-block; vertical-align:top;}
.wg.single .wgTit > strong {font-size:40px; color:#fff;}
.wg.single .wgTit > p {display:block;}
.wg.single .wgSch .ipt {display:inline-block; position:relative; width:40%; height:50px; padding:0; background-color:#fff; vertical-align:top; border-radius:50px; overflow: hidden;}
.wg.single .wgSch .ipt > *:not(.fas):not(.wgBtn) {width:100%; height:50px; padding:0 20px; border:none; background:none; color:#333; font-size:16px; box-sizing:border-box; vertical-align:top;}
.wg.single .wgSch .ipt > select {width:30% !important;}
.wg.single .wgSch .ipt > select ~ input[type=text] {width:70% !important; border-left:1px solid #ddd;}
.wg.single .wgSch .ipt > select ~ .fas {position:absolute; top:19px; left:30%; margin-left:-32px; z-index:1; color:#333;}
.wg.single .wgSch .ipt > input:not([type=checkbox]):not([type=radio])::placeholder {font-size:16px;}
.wg.single .wgSch .ipt > input:not([type=checkbox]):not([type=radio])::-webkit-input-placeholder {font-size:16px;}
.wg.single .wgSch .ipt > input:not([type=checkbox]):not([type=radio])::-moz-placeholder {font-size:16px;}
.wg.single .wgSch .ipt > input:not([type=checkbox]):not([type=radio]):-ms-input-placeholder {font-size:16px;}
.wg.single .wgSch .wgBtn {position:absolute; top:0; right:0; height:50px; padding:0 20px; color:#333; font-size:16px; letter-spacing:1px; vertical-align:top; box-sizing:border-box;}
.wg.single .wgSch .wgBtn.stop {right:-90px; width:80px; padding:0; color:#777; border:1px solid #555; border-radius:50px; transition:all 0.15s ease-in-out;}
.wg.single .wgSch .wgBtn.stop:hover, .wg.single .wgSch .wgBtn.stop:focus {border-color:#ccc;}
.wg.single .wgSch .condition {margin-top:15px; letter-spacing:0;}
.wg.single .wgSch .condition input {position:absolute; top:auto; opacity:0; z-index:-1;}
.wg.single .wgSch .condition input + label {display:inline-block; position:relative; margin:0 10px; line-height:1.5; vertical-align:top; cursor:pointer; z-index:1;}
.wg.single .wgSch .condition input + label:before {display:inline-block; content:''; position:relative; top:0; width:22px; height:22px; margin:0 8px 0 0; border:1px solid #777; background-color:#333; vertical-align:top; box-sizing:border-box; transition:background-color ease-in-out 0.15s;}
.wg.single .wgSch .condition input[type='radio'] + label:before {border-radius:50%; box-shadow:inset 0 0 0 12px #333; transition:border 0.15s, box-shadow ease-in-out 0.15s;}
.wg.single .wgSch .condition input[type='radio']:checked + label:before {border:none; background-color:#333; box-shadow:inset 0 0 0 6px #7bf4d1;}
.wg.single .wgSch .condition input[type='radio']:checked + label:hover:before,
.wg.single .wgSch .condition input[type='radio']:checked:focus + label:before {border:none; box-shadow:inset 0 0 0 4px #197cec;}

.wg.single .progBar {position:relative; text-align:center;}
.wg.single .progBar .percent {position:absolute; bottom:22px; right:15px; font-size:16px; letter-spacing:1px;}
.wg.single .progBar .msg {position:absolute; bottom:22px; left:15px;font-size:16px; letter-spacing:0;}
.wg.single .progBar * {color:#aaa !important;}
.wg.single .progBar .line {display:block; width:100%; height:8px; /*border-radius:8px;*/ background-color:#555; text-align:left; overflow:hidden;}
.wg.single .progBar .line > span {display:inline-block; width:0%; height:8px; background-color:#197cec; vertical-align:top;}
.wg.single .progBar.done .line > span {width:100%;}

.wg.single.auto .wgContainer {padding-top:30px;}
.wg.single.auto .wgContent {margin-top:0; margin-bottom: 0; padding-bottom: 0;}
.wg.single.auto header {padding-top: 40px; transition: padding 0.25s ease-out}
.wg.single .wgAuto {padding-bottom: 10px;}
.wg.single .wgAuto textarea {width: 1200px; height:150px; margin:0 auto; background-color: #333; border:1px solid #7bf4d1; color:#fff; transition: all 0.25s ease-out;}
.wg.single .wgAuto textarea::-webkit-scrollbar {color: #333;}
.wg.single .wgAuto textarea::-webkit-scrollbar-track {background-color: #444; border-radius: 7px}
.wg.single .wgAuto textarea::-webkit-scrollbar-thumb {background-color: #7bf4d1; border-radius: 7px}
.wg.single .wgAuto textarea:focus, .wg.single .wgAuto textarea:hover {border-color:#7bf4d1; background-color: #454545; box-shadow: 0 0 10px 3px rgba(123,244,209,0.2); outline:rgba(0,0,0,0);}
.wg.single .wgAuto .getCode {display: block; position: static; min-width: 550px; height:auto; margin: 20px auto; padding: 10px; border: 1px solid #7bf4d1; border-radius: 55px; background-color: #7bf4d1; font-size: 25px; text-transform: uppercase; font-family: 'Roboto Medium', sans-serif; overflow: hidden; transition: all 0.25s ease-out;}
.wg.single .wgAuto .getCode:hover, .wg.single .wgSch .getCode:focus {background-color: #a0fbe0;}
.wg.single .wgAuto .getCode[disabled] {background-color: #666; border-color:#666; color:#aaa;}
.wg.single .wgAuto .getCode i {display:block; font-size: 30px; transform: scaleX(1.8);}

.wg.single.auto header .wgTit,
.wg.single.auto header .wgTit > strong {transition: all 0.25s ease-out;}
.wg.single.auto header.sticky {padding-top:10px;}
.wg.single.auto header.sticky .wgTit {margin-bottom: 10px;}
.wg.single.auto header.sticky .wgTit > strong {font-size:30px;}
.wg.single.auto header.sticky .wgAuto textarea {height: 33px; padding: 5px 20px;}
.wg.single.auto header.sticky .wgBtn.getCode {min-width:350px; padding:8px 0; margin:10px auto; font-size: 14px;}

.previewHTML iframe {width: 1200px; height: 700px;}
.previewHTML.mobileMode {width: 375px; margin: 0 auto;}
.previewHTML iframe.mobileMode {width: 375px;}


.wg.single header, .wg.single .wgSch .wgTit, .wg.single .wgAuto .wgTit, .wg.single .wgSch .condition input + label, 
.wg.single .wgSch .wgBtn.stop:hover, .wg.single .wgSch .wgBtn.stop:focus {color:#fff;}

.wg.single .wgContent {width:100%; max-width:1200px; margin:30px auto; padding:0 0 50px 0;}
.wg.single .wgContent > .wgTop .bold {color:#1886db;}

.wgTbl td.noResult {height:200px;}
.wgTbl td.noResult .fa-exclamation-circle {margin-bottom:10px; color:#999; font-size:16px;}

.wgTbl td .sbVer {display: none;}
.wgTbl.sbEnabled td .sbVer {display:block;}
.wgTbl.sbEnabled td .sbVer > br {display:none;}

.wgTblWrap {position:relative; overflow: hidden;}
.wgTbl tr.mergeTR {position: relative;}
.wgTbl tr.mergeTR td {padding-left:0; padding-right:0; padding:20px 0;}
.wgTbl tr.mergeTR .menuTitle {position: absolute; width:100%; height:40px; margin-top:-20px; padding:0; color:#fff; line-height: 40px;}


.wgPreview {display:none; position:absolute; top:0; left:0; width:600px; height:611px; border:1px solid #555; border-radius:7px; overflow:hidden; z-index:1005; box-shadow:0px 0px 20px rgba(0,0,0,0.2); background-color:#fff; overflow:hidden;}
.wgPreview:after {content:''; position:absolute; top:50%; left:50%; width:30px; height:30px; margin-left:-15px; margin-top:-15px; background:url('img/loading.png') no-repeat center; background-size:cover; -webkit-animation:spin 1160ms infinite linear; animation:spin 1160ms infinite linear; z-index:0}
.wgPreview.on {display:block;}
.wgPreview .prevTit {display:table; width:100%; table-layout:fixed; height:50px; padding:0 20px; font-size:14px; box-sizing:border-box; background-color:#eee;}
.wgPreview .prevTit > strong {display:table-cell; vertical-align:middle; text-align:center; color:#333;}
.wgPreview .wgBtns {position:absolute; bottom:0; right:0; left:0; padding:15px 0; border-top:1px solid #ccc; text-align:center;}
.wgPreview .wgBtns .wgBtn {padding:0 15px;}
.wgPreview .wgBtns .wgBtn.on {min-width:100px;}
.wgPreview iframe {position:relative; transform:scale(0.4615); transform-origin:0 0; z-index:1}

.wg.single .wgBtn.search, .wg.single .wgBtn.search {transition: color 0.15s ease-out}
.wg.single .wgBtn.search:hover, .wg.single .wgBtn.search:focus {color:#197cec}


@-webkit-keyframes spin{
	0%{-webkit-transform:rotate(0deg); transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg); transform:rotate(360deg)}
}
@keyframes spin{
	0%{-webkit-transform:rotate(0deg); transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg); transform:rotate(360deg)}
}

.likeSubpage .section:not(.done):hover:before {content: '작업중'; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; padding-top: 40px; background-color: rgba(255,255,255,0.7); text-align: center; pointer-events: none; font-weight: bold; box-sizing: border-box; color: red; z-index: 10;}



/*================================================ dashboard ================================================*/
.wgGraphWrap {margin:0 -10px;}
.wgGraphWrap:after {content:''; display:block; clear:both;}
.wgGraph {width:50%; float:left; padding:0 10px;}
.wgGraph .wgBox {position:relative; height:240px; font-size:0; border:1px solid #ddd; box-sizing:border-box;}
.wgGraph .wgBox > [class^=item] {display:flex; flex-direction:column; justify-content:center; height:25%; transition:all 0.7s ease-in-out; vertical-align:bottom;}
.wgGraph .wgBox > [class^=item] span {position:relative; display:block; width:0%; min-width:3px; height:9px; margin:3px 0; background-color:#777; z-index:1; overflow:hidden; transition:all 1s ease-in-out; cursor:default !important;}
.wgGraph .wgBox > [class^=item] span:hover{overflow:visible;}
.wgGraph .wgBox > [class^=item] i {position:absolute; left:100%; min-width:40px; margin:-5px 0 0 18px; padding:2px 7px; font-size:12px; color:#fff; background-color:#333; border-radius:3px; opacity:0; transition:all 0.3s ease-in-out; text-align:center; z-index:1; white-space:nowrap;}
.wgGraph .wgBox > [class^=item] i:before {content:''; position:absolute; width:5px; height:5px; left:-3px; top:7px; transform:rotate(45deg); background-color:#333;}
.wgGraph:not(.vertical) .wgBox {padding:3.5% 3.5% 3.5% 0;}
.wgGraph:not(.vertical) .wgBox > [class^=item] span {left:0;}
.wgGraph:not(.vertical) .wgBox > [class^=item] span:hover i {margin-left:8px; opacity:1;}
.wgGraph .wgBox > [class^=item] > span:not(.ok) {opacity:0.25;}

.wgGraph.vertical .wgBox {display:table; width:100%; padding:3.5% 12.5% 0 12.5%;}
.wgGraph.vertical .wgBox > [class^=item] {display:table-cell; /*width:25%;*/ height:100%; text-align:center;}
.wgGraph.vertical .wgBox > [class^=item] span {display:inline-block; width:9px; height:0%; min-height:3px; margin:0 3px; cursor:default;}
.wgGraph.vertical .wgBox > [class^=item] i {top:auto; bottom:100%; left:50%; margin:0 0 17px 0; transform:translateX(-50%);}
.wgGraph.vertical .wgBox > [class^=item] i:before {top:auto; bottom:-3px; left:50%; margin-left:-3px;}
.wgGraph.vertical .wgBox > [class^=item] span:hover i {top:auto; margin-bottom:7px; opacity:1;}

.wgGraph .wgBox:empty {display:table; width:100%; padding:0;}
.wgGraph .wgBox:empty:before {content:'no data'; display:table-cell; font-size:13px; vertical-align:middle; text-align:center; color:#999;}

.wgGraph .wgBox > .line {position:absolute; top:0; bottom:0; left:0; right:0;}
.wgGraph .wgBox > .line > span {display:inline-block; width:25%; height:100%; border-left:1px dashed #eee;}
.wgGraph .wgBox > .line > span:first-child {border-left:none;}
.wgGraph.vertical .wgBox > .line span {width:100%; height:25%; border-top:1px dashed #eee; border-left:none;}
.wgGraph.vertical .wgBox > .line span:first-child {border-top:none;}

.wgGraphWrap .wgTit {margin:0 0 13px 0; padding:0 10px; font-size:15px;}
.wgGraphWrap .wgTit span {margin-left:5px; font-size:13px; color:#777;}
.wgGraphWrap .wgTit span i {position:relative; color:#777 !important;margin-left:5px; opacity:0.45;}
.wgGraphWrap .wgTit span i:before {content:''; display:inline-block; width:10px; height:7px; margin-top:-2px; margin-right:5px; border-radius:14px; vertical-align:middle; background-color:#333;}
.wgGraphWrap .wgTit span i.ok {opacity:1; cursor:default;}
.wgGraphWrap .wgDesc {margin-top:7px;}
.wgGraphWrap .wgDesc > p {position:relative; margin-top:5px; display:block; line-height:1.3;}
.wgGraphWrap .wgDesc > p i {position:absolute; right:0;}
.wgGraphWrap .wgDesc > p i span {position:relative; display:inline-block; width:16px; height:16px; margin:-2px 5px 0 0; padding:0 2px; border:1px solid #ddd; border-radius:16px; text-indent:-99999px; vertical-align:middle; overflow:hidden;}
.wgGraphWrap .wgDesc > p i span:before {content:'F'; position:absolute; top:0; bottom:0; left:0; right:0; text-indent:0; font-size:11px; line-height:14px; text-align:center;}
.wgGraphWrap .wgDesc > p i span:first-child:before {content:'B';}
.wgDesc > [class^=item]:before {content:''; display:inline-block; width:10px; height:7px; margin-right:7px; border-radius:14px; vertical-align:middle; background-color:#ccc;}

.wgGraph .wgBox > [class^=item] i, .wgGraphWrap .wgDesc > p {font-family:consolas, sans-serif;}
.wgGraph:not(.vertical) .wgBox > [class^=item] span {border-top-right-radius:5px; border-bottom-right-radius:5px;}
.wgGraph.vertical .wgBox > [class^=item] span {border-top-left-radius:5px; border-top-right-radius:5px; vertical-align: bottom;}

.wgGraph .wgBox > .item1 > span, .wgGraph .wgDesc .item1:before {background-color: #aad9ea;}
.wgGraph .wgBox > .item2 > span, .wgGraph .wgDesc .item2:before {background-color: #40a9d0;}
.wgGraph .wgBox > .item3 > span, .wgGraph .wgDesc .item3:before {background-color: #aaeab6;}
.wgGraph .wgBox > .item4 > span, .wgGraph .wgDesc .item4:before {background-color: #40d05b;}
.wgGraph.vertical .wgBox > .item1 > span, .wgGraph.vertical .wgDesc .item1:before {background-color:#405bd0;}
.wgGraph.vertical .wgBox > .item2 > span, .wgGraph.vertical .wgDesc .item2:before {background-color:#40a9d0;}
.wgGraph.vertical .wgBox > .item3 > span, .wgGraph.vertical .wgDesc .item3:before {background-color:#40d05b;}
.wgGraph.vertical .wgBox > .item4 > span, .wgGraph.vertical .wgDesc .item4:before {background-color:#ee9200;}

.wgGraph:not(.vertical) .beta {display: none !important;} /* 베타버전 그래프 임시 삭제 */

.wgSummary {display:table; width:100%; margin:20px 0 15px 0; font-size:0;}
.wgSummary > li {position:relative; display:table-cell; width:20%; text-align:center; vertical-align:top; font-size:13px; border-left:1px solid #ddd;}
.wgSummary > li:first-child {border-left:none;}
.wgSummary > li strong {display:block; margin:5px 0 3px 0; font-size:26px; font-weight:normal;}
.wgSummary > li .sub {display:block; padding:0 20px; font-size:11px; line-height:14px;}



/*================================================ setting for design ================================================*/
.wg header .logo {position:fixed; top:0; width:240px;}
.wg header .logo a {padding:0 20px;}
.wg header, .wg header .logo, .wgGnb, .wgGnb a, .wg .btnLnb, .wg header .btnSearch {height:70px;}
.wg header .btnSearch:active, .wg .btnLnb:active, .wg header .btnSearch.on {color:#4cc6f3;}

.wgLnb .nav > ul > li.on > a, .wgLnb .nav > ul > li > a:hover, .wgLnb .nav > ul > li > a:focus, .wgTbl tr.mergeTR .menuTitle, 
.wgTbl td .menuTitle.hover, .wgTbl.mobile .d1.on, .wgAccoWrap .wgAcco .wgAccoHead .wgBadge, .wgGraphWrap .wgTit span i:before {background:linear-gradient(58deg, #4c7cf3 0,#4cc6f3 100%); color:#fff;}
.wgTbl td .menuTitle {padding: 15px;} 

.wg header .logo, .wg .wgLnb {left:-240px;}
.wg header, .wg .btnLnb, .wg .wgLnb ~ .wgContent {left:0;}
.wg .wgLnb ~ .wgContent {width:100%;}
.wg.lnbOpen header .logo, .wg.lnbOpen .wgLnb {left:0;}
.wg.lnbOpen header, .wg.lnbOpen .btnLnb, .wg.lnbOpen .wgLnb ~ .wgContent {left:240px;}
.wg.lnbOpen .wgLnb ~ .wgContent {width:calc(100% - 240px);}

.wg .section:first-child, .wg .section.first, .wgTbl.mobile .d1.on {border-top-left-radius:7px; border-top-right-radius:7px; border-top:none;}
.wg .section:last-child, .wg .section.last, .wgTbl.mobile .d1.on + .d2 {border-bottom-left-radius:7px; border-bottom-right-radius:7px;}
.wg .section:first-child:last-child, .wg .section.first.last, .wg .section.round, table.wgTbl, .wgTbl.mobile .d1:not(.on), .likeSubpage .section:not(.done):hover:before {border-radius:7px !important; }

.wgTbl thead tr:first-child > th:first-child {border-top-left-radius:7px; border-left:none;}
.wgTbl thead tr:first-child > th:last-child {border-top-right-radius:7px; border-right:none;}
.wg .section table.wgTbl {border-radius:0 !important; border-bottom:1px solid #e0e0e0; overflow:visible; box-shadow:none;}
.wg .section table.wgTbl th {border-right:1px solid #999 !important; border-radius:0 !important;}
.wg .section table.wgTbl td {border-right:1px solid #e0e0e0 !important;}

.wg .wgC1 {color:#405bd0;}
.wg .wgC2 {color:#cc0000;}
.wg .wgC3 {color:#333;}
.wg .wgC4 {color:#999;}

.wgLnb .progNum, .wgLnb .percent {opacity: 0}
.wgLnb .progOn .progNum, 
.wgLnb .progOn .percent {opacity: 1}

.guideLink {display: inline-block; padding: 3px 10px; background-color: #333; color: #fff; margin-right: 10px; border-radius: 2px; font-size: 14px; letter-spacing: 0;}
.guideLink:hover {text-decoration: underline;}


/*================================================ Media ================================================*/
/* show, hide */
.visibleMb {display:none !important;}

/* only pc */
@media all and (min-width:769px) {
	/* show, hide */
	.hiddenPC {display:none !important;}
	.visiblePC {display:block !important;}
}

/* only mobile */
@media all and (max-width:768px) {
	/* show, hide */
	.hiddenMb {display:none !important;}
	.visibleMb {display:block !important;}
}

@media screen and (max-width:1023px){
	/* for layout */
	.wg header {box-shadow:1px 0 20px rgba(0,0,0,0.1);}
	.wg header .logo, .wg.lnbOpen header .logo {left:70px; right:70px; width:calc(100% - 140px);}
	.wg header .logo a {text-align:center;}
	.wg header .util {right:18px;}
	.wg header .util a[class*=btn] {width: 35px;}
	.wg header .btnSearch {right:0; color:#333;}
	.wg .btnLnb {color:#333; background-color:#fff;}
	.wg .wgLnb {top:0; left:-100%; width:calc(100% - 70px); height:100%; z-index:13;}
	.wg.lnbOpen .btnLnb {left:0;}
	.wg.lnbOpen .wgLnb ~ .wgContent {left:0; width:100%;}
	.wg .wgLnb .nav h2 {display:none;}
	.wg .wgLnb .nav .selectLnb {position:relative; display:block; margin-bottom:25px; padding:30px 15px 0 15px;}
	.wg .wgLnb .nav .selectLnb select {display:block; width:100%; height:50px; padding:0 20px; color:#002976; font-size:17px; font-weight:bold; text-transform:uppercase; border-radius:30px; border:2px solid #002976; box-sizing:border-box;}
	.wg .wgLnb .nav .selectLnb .fa-chevron-down {position:absolute; top:46px; right:37px; color:#002976; font-size:19px;}
	.wg .dimmed {display:none; position:fixed; top:0; bottom:0; left:0; right:0; height:100%; z-index:12; background:rgba(0,0,0,0.7);}
	.wg .dimmed:after {content:''; position:absolute; top:50%; right:15px; width:40px; height:40px; margin-top:-15px; background:#333 url(../../img/btn_gnbClose.png) no-repeat 50% 50%; background-size:16px; border-radius:100%;}
	.wgContent {padding:100px 20px 60px 20px;}
	
	/* for content */
	.wgGnb, .wgLnb .nav ul > li > a .pageTip, .wgTop .wgRow, .wg .section .wgBtns,
	.wg .status.wgProg, .wg .status.wgProg + .wgBtns, 
	.wgBtn.copy, .wg .wgTbl:not(.mobile) {display:none;}
	.wg .status:not(.wgProg):not(.on) > span,
	.wgTbl.mobile {display:block;}
	.wg .status > span {margin-top:10px; line-height:1.3;}
	.wgRow .wgBtns.down {width:100%; margin-bottom:10px;}
	.wgRow .wgBtn.down {width:100%; margin:5px 0 0 0; text-align:left;}
	.wg .wgCont > [class^='wgTit'] + .wgRow .status {margin-bottom:0; padding-top:0;}
	.wg .section .wgCodeView.bgNone xmp, .layoutCode {overflow-x:auto !important;}
	.wgAccoWrap .wgAcco .wgAccoHead strong {width:100%; margin-right:0;}
	ul.wgDesc.div2 > li {width:100%;}
	
	.wgGraph {float:none; width:100%; margin-top:10px;}
	.wgSummary {display:block; margin:0;}
	.wgSummary > li {display:block; width:100%; margin-top:5px; text-align:left; border:none;}
	.wgSummary > li span:not(.sub) {display:block; line-height:24px;}
	.wgSummary > li strong {position:absolute; top:-2px; right:0; margin-top:0; font-size:20px;}
	.wgSummary > li .sub {display:none;}
	.wgGraphWrap .wgDesc > p i {position:static; display:block; margin-bottom:5px; padding-left:17px;}
	
	.onlyPC {display: none}
}


