@charset "utf-8";
@import url('fonts.css');

/*================================================ Common ================================================*/
:root {
  --c-white: #ffffff;
  --c-white-soft: #f9f9f9;
  --c-white-mute: #e0e0e0;
  --c-black: #1a1a1a;
  --c-black-pure: #000000;
  --c-black-soft: #242424;
  --c-black-mute: #2f2f2f;
  --c-indigo: #213547;
  --c-indigo-soft: #476582;
  --c-indigo-light: #aac8e4;
  --c-gray: #8e8e8e;
  --c-gray-light-1: #aeaeae;
  --c-gray-light-2: #c7c7c7;
  --c-gray-light-3: #d1d1d1;
  --c-gray-light-4: #e5e5e5;
  --c-gray-light-5: #f2f2f2;
  --c-gray-dark-1: #636363;
  --c-gray-dark-2: #484848;
  --c-gray-dark-3: #3a3a3a;
  --c-gray-dark-4: #282828;
  --c-gray-dark-5: #202020;
  --c-divider-light-1: rgba(60, 60, 60, .29);
  --c-divider-light-2: rgba(60, 60, 60, .12);
  --c-divider-dark-1: rgba(84, 84, 84, .65);
  --c-divider-dark-2: rgba(84, 84, 84, .48);
  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 60, 60, .7);
  --c-text-light-3: rgba(60, 60, 60, .33);
  --c-text-light-4: rgba(60, 60, 60, .18);
  --c-text-light-code: var(--c-indigo-soft);
  --c-text-dark-1: rgba(255, 255, 255, .87);
  --c-text-dark-2: rgba(235, 235, 235, .6);
  --c-text-dark-3: rgba(235, 235, 235, .38);
  --c-text-dark-4: rgba(235, 235, 235, .18);
  --c-text-dark-code: var(--c-indigo-light);
  --c-brand: #ff0d38;
  --c-green: #42b883;
  --c-green-light: #42d392;
  --c-green-lighter: #35eb9a;
  --c-green-dark: #33a06f;
  --c-green-darker: #155f3e;
  --c-blue: #3b8eed;
  --c-blue-light: #549ced;
  --c-blue-lighter: #50a2ff;
  --c-blue-dark: #3468a3;
  --c-blue-darker: #255489;
  --c-yellow: #ffc517;
  --c-yellow-light: #ffe417;
  --c-yellow-lighter: #ffff17;
  --c-yellow-dark: #e0ad15;
  --c-yellow-darker: #bc9112;
  --c-red: #ed3c50;
  --c-red-light: #f43771;
  --c-red-lighter: #fd1d7c;
  --c-red-dark: #cd2d3f;
  --c-red-darker: #ab2131;
  --c-purple: #de41e0;
  --c-purple-light: #e936eb;
  --c-purple-lighter: #f616f8;
  --c-purple-dark: #823c83;
  --c-purple-darker: #602960;
  --box-shadow: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
  --box-shadow-light: 0 14px 44px rgba(250, 250, 250, .12), 0 3px 9px rgba(250, 250, 250, .12);
}
:root {
  --c-bg: var(--c-white);
  --c-bg-soft: var(--c-white-soft);
  --c-bg-mute: var(--c-white-mute);
  --c-divider: var(--c-divider-light-1);
  --c-divider-light: var(--c-divider-light-2);
  --c-divider-inverse: var(--c-divider-dark-1);
  --c-divider-inverse-light: var(--c-divider-dark-2);
  --c-text-1: var(--c-text-light-1);
  --c-text-2: var(--c-text-light-2);
  --c-text-3: var(--c-text-light-3);
  --c-text-4: var(--c-text-light-4);
  --c-text-code: var(--c-text-light-code);
  --c-text-inverse-1: var(--c-text-dark-1);
  --c-text-inverse-2: var(--c-text-dark-2);
  --c-text-inverse-3: var(--c-text-dark-3);
  --c-text-inverse-4: var(--c-text-dark-4);
  --c-link: var(--c-blue);
  --c-finish: var(--c-green);
}
.dark{
  --c-bg: var(--c-black);
  --c-bg-soft: var(--c-black-soft);
  --c-bg-mute: var(--c-black-mute);
  --c-divider: var(--c-divider-dark-1);
  --c-divider-light: var(--c-divider-dark-2);
  --c-divider-inverse: var(--c-divider-light-1);
  --c-divider-inverse-light: var(--c-divider-light-2);
  --c-text-1: var(--c-text-dark-1);
  --c-text-2: var(--c-text-dark-2);
  --c-text-3: var(--c-text-dark-3);
  --c-text-4: var(--c-text-dark-4);
  --c-text-code: var(--c-text-dark-code);
  --c-text-inverse-1: var(--c-text-light-1);
  --c-text-inverse-2: var(--c-text-light-2);
  --c-text-inverse-3: var(--c-text-light-3);
  --c-text-inverse-4: var(--c-text-light-4);
  --c-link: var(--c-blue);
  --c-finish: var(--c-green-dark);
  --box-shadow:var(--box-shadow-light);
}
body {background: var(--c-bg); font-size:13px; font-family:'Roboto Light', 'NotoSans Light', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; color: var(--c-text-1); letter-spacing:-0.003em; word-break:keep-all; word-wrap:break-word;}
.bold, .cvGnb li, .cvLnb .nav h2, .cvLnb .nav > ul > li > a, .cvLnb .depth > li.on > a, .cvContent > .top > h3, .cvGuide [class^='tit'], 
.cvGuide .section .btn, .cvGuide .cvLnb .nav .selectLnb select, .tbl thead th, .tbl td .menuTitle, .tbl td .menuTitle.hover, 
.tbl.mobile .d1, .cvGuide.single .sch .btn, .cvGuide ul.desc > li:before, .accoWrap .acco .accoHead strong {font-family:'Roboto Regular', 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; font-weight:normal;}
.normal, .copyWrap .copy .inner .tit, .badge {font-family:'Roboto Light', 'NotoSans Light', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif; font-weight:normal;}
.cvGnb button {font-family:'Roboto Regular', 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;}
.cvLnb a {font-family:'Roboto Light', 'NotoSans Light', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;}

strong {font-weight:normal;}

.cvGuide select {appearance:none;}

/*================================================ Layout ================================================*/
.cvGuide {position:relative;}
.cvGuide a {color:var(--c-link);}

.cvGuide header {position:fixed; left:240px; right:0; top:0; border-bottom:1px solid var(--c-divider-light); background-color: var(--c-bg); z-index:11;}
.cvGuide header, .cvGuide header .logo {height:80px;}
.cvGuide header .logo {display:flex; justify-content:center; align-items:center; position:fixed; top:0; left:0; width:240px; border-bottom:1px solid var(--c-divider-light); background-color: var(--c-bg); box-sizing:border-box;}
.cvGuide header .logo a {display:block; padding:0 20px;}
.cvGuide header .logo a > img {max-width:100%;}
.cvGuide header .cvUtil {position:absolute; top:0; right:30px; height:80px;}

/* gnb */
.cvGnb {padding-left:30px; letter-spacing:-2em;}
.cvGnb ul {display:flex; justify-content:flex-start; align-items:center; gap:15px; height:80px;}
.cvGnb li {letter-spacing:0;}
.cvGnb li button {position:relative; display: block; padding:0 15px; color:var(--c-text-1); font-size:16px; box-sizing:border-box; transition:all 0.15s ease-in-out; line-height:80px;}
.cvGnb li button:after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; border-bottom: 1px solid var(--c-brand); transition: all 0.15s ease-out; transform: scale(0,1);}
.cvGnb li.on button, .cvGnb li button:hover, .cvGnb li button:focus {color:var(--c-text-1);}
.cvGnb li.on button:after, .cvGnb li button:hover:after, .cvGnb li button:focus:after {transform: scale(1,1)}

/* cvUtil */
.cvUtil .cvBtn_switch {position: absolute; top:50%; right:0; width:40px; height:22px; overflow: hidden; transform: translateY(-50%);}
.cvUtil .knobs,
.cvUtil .layer {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.cvUtil .cvBtn_switch,
.cvUtil .cvBtn_switch .layer {border-radius: 50px;}
.cvUtil .cvBtn_switch input[type=checkbox] {position: relative; width: 100%; height: 100%; padding: 0; margin: 0; opacity: 0; cursor: pointer; z-index: 3;}
.cvUtil .knobs {z-index: 2;}
.cvUtil .layer {width: 100%; background-color:var(--c-bg-mute); border:1px solid var(--c-divider); transition: 0.3s ease all; z-index: 1;}
.cvUtil .cvBtn_switch .knobs:before {content: ""; position: absolute; top: 2px; left: 2px; width: 18px; height: 18px; background-color: var(--c-bg); border-radius: 50%; transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;}
.cvUtil .cvBtn_switch input[type=checkbox]:checked + .knobs:before {content: ""; left: 20px;}
.cvUtil .cvBtn_switch .knobs,
.cvUtil .cvBtn_switch .knobs:before,
.cvUtil .cvBtn_switch .layer {transition: 0.3s ease all;}

cvContainer {position:relative;}
/* lnb */
.cvContainer .cvLnb {position:fixed; top:80px; width:240px; height:calc(100% - 80px); border-right:1px solid var(--c-divider-light); z-index:10;}
.cvContainer .cvLnb .nav {min-height:100%; padding:35px 30px; background-color:var(--c-bg);}
.cvContainer .cvLnb h2 {display:block; font-size:16px; color:var(--c-text-1); line-height:1;}
.cvContainer .cvLnb ul li a {display:block; position:relative;}
.cvContainer .cvLnb ul li > a ~ ul {display:none;}
/* for 1depth */
.cvContainer .cvLnb .nav > ul {margin:12px 0 0;}
.cvContainer .cvLnb .nav > ul > li {padding:6px 0;}
.cvContainer .cvLnb .nav > ul > li > button {position:relative; width:100%; font-size:14px; color: var(--c-text-2); border-radius:50px 0 0 50px; transition:all 0.15s ease-out; text-align:left;}
.cvContainer .cvLnb .nav > ul > li.on > button, 
.cvContainer .cvLnb .nav > ul > li > button:hover, 
.cvContainer .cvLnb .nav > ul > li > button:focus {color:var(--c-text-1);}

.cvContainer .cvLnb .nav > ul > li > button.cvBtn_acco:after {content:''; position:absolute; top:10px; width:10px; height:10px; margin-top:-4px; border:1px solid var(--c-divider); border-width:0 2px 2px 0; transition:all 0.25s; right:18px; transform:translateY(-50%) rotate(45deg);}
.cvContainer .cvLnb .nav > ul > li.on > button.cvBtn_acco:after {transform:translateY(-50%) rotate(-135deg);}

.cvContainer .cvLnb .nav > ul > li > button > .fas {position:absolute; top:14px; right:25px; font-size:11px;}
.cvContainer .cvLnb .nav > ul > li > button > .fa-external-link-alt {right:24px; font-size:12px;}
.cvContainer .cvLnb .nav > ul > li:not(.on) .fa-minus {display: none}
.cvContainer .cvLnb .nav > ul > li.on .fa-plus {display: none}
/* for 2depth */
.cvContainer .cvLnb .nav > ul > li > .subList {display:none; margin:12px 0;}
.cvContainer .cvLnb .nav > ul > li > .subList > li:first-child {margin-top:0;}
.cvContainer .cvLnb .nav > ul > li > .subList > li {margin-top:8px;}
.cvContainer .cvLnb .nav > ul > li > .subList > li {display:flex; flex-wrap:wrap;}
.cvContainer .cvLnb .nav > ul > li > .subList > li > button {flex:0 1 auto; text-align:left; font-size:14px; color:var(--c-text-2);}
.cvContainer .cvLnb .nav > ul > li > .subList > li.on > button {color:var(--c-text-1); font-weight:700;}
.cvContainer .cvLnb .nav > ul > li > .subList > li .progressInfo {display:inline-block; flex:0 0 auto; margin-left:auto;}

.cvContent {position:relative; float: right; width: calc(100% - 240px); padding:100px 30px 50px 30px; box-sizing:border-box;}
.cvContent > .top {display:block; margin-bottom:20px;}
.cvContent > .top > h3 {display:inline-block; margin-right:5px; font-size:18px; color:var(--c-text-1); line-height:1.3;}
.cvContent > .top > span {font-size:15px;}

.cvContent .cont {color:var(--c-text-1);}

.cvContent .noData {margin-top:200px; text-align:center;}
.cvContent .page_list .noData {height:250px; line-height:250px; margin-top:0;}

/* dashboard */
.dashboard_area {width:100%;}
.dashboard_area .section {margin-top:30px;}
.dashboard_area .tit {display:block; font-size:14px; font-weight:500;}
.dashboard_area .tit + .inner {margin-top:16px;}
.dashboard_area .inner {display:flex; justify-content: flex-start; flex:1 0 auto; gap:80px; width:100%; height:100%;}
.dashboard_area .inner > [class^='total'] {display:flex; flex-direction: column; justify-content:center; gap:10px; width:320px; height:300px; padding:20px 40px; border-radius:8px;  background: var(--c-bg-soft); box-shadow: var(--box-shadow);}
.dashboard_area .inner [class^='total'] .graph_area {display:flex; justify-content: center; width:100%;}
.dashboard_area .inner [class^='total'] .graph {display:flex; justify-content: center; align-items: flex-end; width:10px; height:200px; background-color: var(--c-bg-mute);}
.dashboard_area .inner [class^='total'] .graph .state {width:10px; height:2px; background-color:var(--c-brand); border-radius:8px 8px 0 0; opacity:0;}
.dashboard_area .inner .total_pc .graph .state {background-color:var(--c-blue);}
.dashboard_area .inner .total_mo .graph .state {background-color:var(--c-green);}

.dashboard_area .inner [class^='total'] .summary {text-align: center; font-size:16px;}
.dashboard_area .inner [class^='total'] .summary .count {font-weight:700;}
.dashboard_area .inner [class^='total'] .summary .count > em {font-weight:700;}
.dashboard_area .inner [class^='total'] .summary .num {font-size:16px;font-weight:700;}
.dashboard_area .inner [class^='total'] .summary .num > em {font-weight:700;}

/* guide */
.cvContent .cvGuide_area {padding:20px 0 20px;}
.cvContent .cvGuide_area + .cvGuide_area {padding:40px 0 20px; border-top:1px solid var(--c-bg-mute);}
.cvContent .cvGuide_area .tit {font-size:18px; vertical-align:middle;}
.cvContent button[class^='btn_']:not(.cvBtn_srch) {min-width:100px; padding:0 12px; line-height:32px; font-size:13px; font-weight:700; border:1px solid var(--c-divider); border-radius:50px; color:var(--c-text-1);}
.cvBtn_copy {margin-left:10px;}
.cvBtn_copy:before {content:""; display:inline-block; width:24px; height:24px; margin:-3px 4px 0 0; background:url('../img/ico_copy.png') no-repeat 0 0; background-size:24px auto; vertical-align:middle;}
.cvContent .cvGuide_area .code_view .cvBtn_area {text-align:right;}

/* 가이드페이지 적용 */
.cvContent .cvGuide_area .cvGuide_view {margin:10px -10px; padding:10px; border-radius:7px; color: #666; font-size: 16px; font-family:'Malgun Gothic', 'Dotum', '돋움', 'gulim', '굴림', Helvetica, sans-serif;}
.dark .cvContent .cvGuide_area .cvGuide_view {background-color:#fff;}
.cvContent .cvGuide_area .code_view .code {display:none; color:#fff; background-color:#000;}
.cvContent .cvGuide_area .code_view .code xmp {margin:0; padding:10px;}
.cvContent .cvGuide_area .code_view .cvBtn_area {margin-top:10px;}

.cvContent .pop_alert {display:flex; align-items:center; justify-content:center; position:fixed; top:50%; left:50%; width:180px; height:80px; margin-top:-40px; padding:0 12px; background-color:var(--c-bg); border:1px solid #000; border-radius:6px; text-align:center; z-index:99;}
.cvContent .pop_alert > p {color:#000; font-size:18px; font-weight:500;}

/* page list */
.cvContent .page_list > table {margin-top:50px; border: 1px solid var(--c-divider-dark-1); border-radius:8px; box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 10%); overflow: hidden;}
.cvContent .page_list th {padding:10px 3px; border-left:1px solid var(--c-divider-dark-1); background-color: #292d3e; color:#fff;}
.dark .cvContent .page_list th {background-color: var(--c-bg-soft);}
.cvContent .page_list th:first-child {border-left:0 none;}
.cvContent .page_list td {padding:10px; border-top:1px solid var(--c-divider-dark-1); border-left:1px solid var(--c-divider-dark-1);}
.cvContent .page_list td:first-child {border-left:0 none;}
.cvContent .page_list tbody > tr > td.pageID {color:inherit; font-weight:500;}
.cvContent .page_list tbody > tr.finish > td.pageID {color:var(--c-finish);}

.cvContent .page_list .progress {width:100%; height:6px; background-color:var(--c-bg-mute);}
.cvContent .page_list .progress .graph {display:block; position:relative; width:0%; height:6px; background-color:var(--c-text-code);}
.cvContent .page_list .progress .graph:after {content:""; position:absolute; top:50%; right:0; width:10px; height:10px; border-radius:50%; background-color:var(--c-text-code); transform:translateY(-50%);}
.cvContent .page_list .progress .count_wrap {margin-top:6px; text-align:right;}
.cvContent .page_list .progress .count_wrap .count {font-size:15px; font-weight:700;}
.cvContent .page_list .progress .count_wrap .count > em {font-size:15px; font-weight:700;}
.cvContent .page_list .progress .count_wrap .count > em.finish {color:var(--c-brand);}

/* 공통 checkbox/radio */
.ipt[type=checkbox],
.ipt[type=radio] {position:absolute; top:auto; min-width:auto; width:18px; height:18px; margin:0; padding:0; opacity:0; z-index:-1;}
.ipt[type=checkbox] + label,
.ipt[type=radio] + label {display:inline-block; position:relative; padding-left:24px; line-height:1.6; font-size:14px; font-weight:400; vertical-align:middle; cursor:pointer; z-index:1;}
.ipt[type=checkbox] + label:before,
.ipt[type=radio] + label:before {content:""; position:absolute; top:1px; left:0; width:18px; height:18px; border:1px solid #ccc; border-radius:50%; background-color:var(--c-text-dark-2); overflow:hidden; box-sizing:border-box; transition:border 0.225s, box-shadow ease-in-out 0.225s; box-shadow:inset 0 0 0 5px #fff;}
.ipt[type=radio]:checked + label:before {border-color:var(--c-brand); background-color:var(--c-brand); transition:border 0.225s, box-shadow ease-in-out 0.225s;}

.ipt[type=radio]:focus + label,
.ipt[type=radio]:hover + label {outline:1px solid #8980b9;}

/* search */
.srch_wrap {position:relative; width:500px; margin:10px 0 0 50px;}
.srch_wrap .ipt_wrap input.ipt {width:100%; height:38px; padding:0 70px 0 12px; line-height:38px; color:#000; background-color:var(--c-bg-soft); border:2px solid #292d3e; border-radius:8px;}
.srch_wrap .cvBtn_srch {position:absolute; top:50%; right:17px; width:32px; height:32px; background-color:transparent; transform:translateY(-50%);}
.srch_wrap .cvBtn_srch:before,
.srch_wrap .cvBtn_srch:after {content:""; position:absolute; right:0; width:2px; height:7px; background-color:#000;}
.srch_wrap .cvBtn_srch:before {top:8px; width:12px; height:12px; border:2px solid #000; border-radius:50%; background-color:transparent;}
.srch_wrap .cvBtn_srch:after {top:20px; width:2px; height:7px; background-color:#000; transform:rotate(-45deg);}